<app-topbar></app-topbar>

<div class="flex justify-center items-center">
    <div class="grid grid-cols-3 sm:grid-cols-4 gap-4">
        <div *ngFor="let user of receivedData.itinaries_users" class="bg-white rounded-lg shadow-lg"
            [ngClass]="{'bg-red-100': !user.request_user, 'bg-green-100': user.request_user}">
            <div class="p-4">
                <h5 class="text-lg font-bold mb-2">{{ user.fk_user }}</h5>
                <p class="text-gray-600">{{ user.message }}</p>
            </div>
            <div class="p-4 flex justify-end">
                <button class="btn btn-success mr-2" (click)="acceptRequest(user)">Accept</button>
                <button class="btn btn-danger" (click)="denyRequest(user)">Deny</button>
            </div>
        </div>
    </div>
</div>