<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Itineraries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Rechercher"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let itinerary of filterItineraries()" (click)="updateDetails(itinerary)">
      <ion-label>
        <h2>{{ itinerary.destination }}</h2>
        <p>Start Address: {{ itinerary.startAddress }}</p>
        <p>Lisence Plate: {{ itinerary.licensePlate }}</p>
        <p>Seats: {{ itinerary.seats }}</p>
        <p>Conductor: {{ itinerary.conductorEmail }}</p>
        <p>Start date: {{ itinerary.startDate }}</p>
        <p>Hours: {{ itinerary.hours }}</p>
      </ion-label>
      <ion-button *ngIf="!(itinerary.passengerEmails?.includes(username)) && username !== itinerary.conductorEmail"
        (click)="climbBoardModal(itinerary)">Climb on
        Board</ion-button>
      <p *ngIf="itinerary.passengerEmails?.includes(username)">You are already on board</p>
    </ion-item>
  </ion-list>


</ion-content>