<div class="flex flex-col h-screen">
    <app-topbar></app-topbar>
    <div class="flex flex-1 overflow-hidden">
        <div class="w-300 bg-gray-100 p-6 overflow-y-auto">
            <div class="sticky top-0">
                <div class="mb-4">
                    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher"
                        class="w-full px-4 py-2 rounded-lg border-gray-300 focus:outline-none focus:border-blue-500" />
                </div>
            </div>
            <div class="grid gap-4">
                <div *ngFor="let itinerary of itinaries | filter: searchTerm" (click)="updateDetails(itinerary)"
                    class="bg-white p-4 rounded-lg shadow cursor-pointer">
                    <h2 class="text-xl">{{ itinerary.destination }}</h2>
                    <p>Start Address: {{ itinerary.startAddress }}</p>
                    <p>Seats: {{ itinerary.seats }}</p>
                    <p>Conductor: {{ itinerary.conductorEmail }}</p>
                    <p>Start date: {{ itinerary.startDate }}</p>
                    <p>Hours: {{ itinerary.hours }}</p>
                    <button *ngIf="username !== itinerary.conductorEmail" (click)="climbBoardModal(itinerary)"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                        Climb on Board
                    </button>
                </div>
            </div>
        </div>
        <div class="flex-1 bg-gray-100 p-6 overflow-y-auto">
            <p class="text-gray-700">{{ selectedItinerary?.destination }}</p>
        </div>
    </div>
</div>

<ng-template #modalContent let-dialogRef>
    <h2 class="text-center text-2xl font-bold mb-4">Envoyer un message au conducteur</h2>
    <form (ngSubmit)="onSubmitClimb(itinariesUserForm.value)" #itinariesUserForm="ngForm">
        <div class="mb-4">
            <label for="message" class="block font-bold mb-1">Message:</label>
            <input type="text" id="message" name="message" required class="w-full rounded border-gray-400 py-2 px-3"
                [(ngModel)]="selectedItinerary.message">
        </div>
        <div class="text-center">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Enregistrer</button>
        </div>
    </form>
</ng-template>