<app-topbar></app-topbar>

<!-- <button type="submit" (ngSubmit)="onSubmit()">Envoyer</button> -->
<li *ngFor="let itinerary of itinaries">
    {{ itinerary.itinaries_id }}
    <p>Start Address: {{ itinerary.startAddress }}</p>
    <p>Destination: {{ itinerary.destination }}</p>
    <p>Seats: {{ itinerary.seats }}</p>
    <p>Conductor Email: {{ itinerary.conductorEmail }}</p>
    <!-- <p>Passenger Emails:
        <span *ngFor="let passengerEmail of itinerary.passengerEmails">{{ passengerEmail }}</span>
    </p> -->
    <p>Start date : {{ itinerary.startDate }} </p>
    <p>Hours: {{ itinerary.hours }}</p>
</li>


<!-- <ul>
    <li *ngFor="let itinerary of itinaries">
        {{ itinerary.itinaries_id }}
        <p>Start Address: {{ itinerary.startAddress }}</p>
        <p>Destination: {{ itinerary.destination }}</p>
        <p>Seats: {{ itinerary.seats }}</p>
        <p>Start Date: {{ itinerary.startDate }}</p>
        <p>Emails:</p>
        <ul>
            <li *ngFor="let itinaries_user of itinerary.itinaries_users">
                <p>User Email: {{ itinaries_user. }}</p>
            </li>
        </ul>
    </li>
</ul> -->