<div class="flex flex-col">
    <div class="">
        <app-topbar-empty></app-topbar-empty>
    </div>

    <div class="h-screen bg-slate-100 flex justify-center items-center">
        <div>
            <div class=" bg-slate-50 pb-12">
                Login
            </div>
            <div>

            </div>
            <div>
                <a routerLink="/signup"> signup</a>
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="login()">Login</button>
<ul>
    <li *ngFor="let user of users">{{user.address}}</li>
</ul> -->