<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Itinaries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Itinaries</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let itinerary of myItinaries">
      <!-- Afficher les détails de l'itinéraire -->
      <ion-label>
        <h2>{{ itinerary.destination }}</h2>
        <p>Start Address: {{ itinerary.startAddress }}</p>
        <p>Seats: {{ itinerary.seats }}</p>
        <p>Start Date: {{ itinerary.startDate }}</p>
        <p>Hours: {{ itinerary.hours }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>